@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 10px;
}

.overlay {
  position: absolute;
  background: #535353;
  inset: 0;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input[type='submit'] {
  cursor: pointer;
}

.chat {
  padding: 30px 50px;
  display: none;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.chat.active {
  display: block;
}

.chat__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__top-item {
  padding: 5px;
  background: none;
  border: 1px solid;
}

.chat__mainContent {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  max-height: 424px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 350px;
}

.chat__mainContent .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3px 5px;
  border-radius: 5px;
}

.chat__mainContent .message:not(:first-child) {
  margin-bottom: 10px;
}

.chat__mainContent .message span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 11px;
  margin-left: 15px;
}

.chat__chatText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.chat__chatText input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 3px;
}

.chat__chatText-send {
  padding: 0 5px;
}

.сonfirmation {
  border: 1px solid;
  padding: 10px 5px;
  width: 350px;
  display: none;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.сonfirmation.active {
  display: block;
}

.сonfirmation__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.сonfirmation__top div svg {
  cursor: pointer;
}

.сonfirmation__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.сonfirmation__form-item label {
  margin-bottom: 5px;
}

.сonfirmation__form-item input {
  padding: 3px;
}

.сonfirmation__form-item:not(:first-child) {
  margin-top: 10px;
}

.сonfirmation__form input {
  background: none;
  border: 1px solid;
  padding: 6px;
  margin-top: 10px;
}

.сonfirmation__anotherWay {
  margin-top: 20px;
}

.сonfirmation__anotherWay button {
  background: none;
  border: none;
  font-size: 16px;
}

.lognIn {
  border: 1px solid;
  padding: 10px 5px;
  width: 350px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.lognIn.active {
  display: block;
}

.lognIn__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.lognIn__top div svg {
  cursor: pointer;
}

.lognIn__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lognIn__form-item label {
  margin-bottom: 5px;
}

.lognIn__form-item input {
  padding: 3px;
}

.lognIn__form-item:not(:first-child) {
  margin-top: 10px;
}

.lognIn__form input {
  background: none;
  border: 1px solid;
  padding: 6px;
  margin-top: 10px;
}

.lognIn__anotherWay {
  margin-top: 20px;
}

.lognIn__anotherWay button {
  background: none;
  border: none;
  font-size: 16px;
}

.settings {
  border: 1px solid;
  padding: 10px 5px;
  width: 350px;
  display: none;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.settings.active {
  display: block;
}

.settings__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.settings__top div svg {
  cursor: pointer;
}

.settings__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings__form label {
  margin-bottom: 5px;
}

.settings__form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings__form div input {
  padding: 3px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.settings__form div input[type='submit'] {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0 5px;
}
/*# sourceMappingURL=style.css.map */