* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 10px;
}

.overlay {
  position: absolute;
  background: #535353;
  inset: 0;
}

button {
  cursor: pointer;
}

input {
  &:focus {
    outline: none;
  }

  &[type='submit'] {
    cursor: pointer;
  }
}

.chat {
  padding: 30px 50px;
  display: none;

  background: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.active {
    display: block;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      padding: 5px;
      background: none;
      border: 1px solid;
    }
  }

  &__mainContent {
    padding: 8px;
    display: flex;
    flex-direction: column-reverse;
    max-height: 424px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 350px;

    .message {
      display: flex;
      flex-direction: column;
      padding: 3px 5px;
      border-radius: 5px;

      &:not(:first-child) {
        margin-bottom: 10px;
      }

      span {
        align-self: flex-end;
        font-size: 11px;
        margin-left: 15px;
      }
    }
  }

  &__chatText {
    display: flex;
    gap: 5px;
    input {
      flex-grow: 1;
      padding: 3px;
    }

    &-send {
      padding: 0 5px;
    }
  }
}

.сonfirmation {
  border: 1px solid;
  padding: 10px 5px;
  width: 350px;

  display: none;

  background: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.active {
    display: block;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    div svg {
      cursor: pointer;
    }
  }

  &__form {
    &-item {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 5px;
      }

      input {
        padding: 3px;
      }

      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    input {
      background: none;
      border: 1px solid;
      padding: 6px;
      margin-top: 10px;
    }
  }

  &__anotherWay {
    margin-top: 20px;

    button {
      background: none;
      border: none;
      font-size: 16px;
    }
  }
}

.lognIn {
  border: 1px solid;
  padding: 10px 5px;
  width: 350px;

  background: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;

  &.active {
    display: block;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    div svg {
      cursor: pointer;
    }
  }

  &__form {
    &-item {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 5px;
      }

      input {
        padding: 3px;
      }

      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    input {
      background: none;
      border: 1px solid;
      padding: 6px;
      margin-top: 10px;
    }
  }

  &__anotherWay {
    margin-top: 20px;

    button {
      background: none;
      border: none;
      font-size: 16px;
    }
  }
}

.settings {
  border: 1px solid;
  padding: 10px 5px;
  width: 350px;

  display: none;

  background: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.active {
    display: block;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    div svg {
      cursor: pointer;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
    }

    div {
      display: flex;
      input {
        padding: 3px;
        flex-grow: 1;

        &[type='submit'] {
          flex-grow: 0;
          padding: 0 5px;
        }
      }
    }
  }
}
